body{
    background-color: #2c3e50;
    font-family: 'Comfortaa', cursive;
}

.header{
    color:white;
    text-align: center;
    margin-top:10px;
}

.recipe{
    text-align: center;
    font-size: 80px;
    color:white;
    text-decoration: none;
    margin-top:200px;
}

.recipe:hover{
    text-decoration: underline;
}

.new{
    border-radius: 7px;
    background-color: #ea6153;
    border:none;
    height:50px;
    width:140px;
    font-size:30px;
    cursor:pointer;
    margin-left:45%;
    color:white;
}

.new:hover{
    background-color: #c0392b;
}

.twitter{
    color:white;
    text-align: center;
    margin-top:90px;
}

.twitter a{
    color:#ea6153;
    
}

.social{
    text-align: center;
}