body{
    margin:0;
    background-color: #EEEEEE;
    font-family: 'Roboto Slab', serif;
}



button::-moz-focus-inner {
  border: 0;
}




.top-btn{
    width:140px;
    height: 40px;
    border-radius: 5px;
    background-color:#26C281;
    color:black;
    border-color: #03A678;
    
}


.top-btn:disabled{
    border: none;
    background-color: #D2D7D3;
}

.top-btn[disabled]:hover{
    border: none;
    background-color: #D2D7D3;
}

.top-btn:hover{
    background-color:#2ECC71;
    border-color: #2ecc71;
}

.top-btn:focus{
    border-color: none;
    outline: none;
}

.buy{
    width:110px;
    height: 40px;
    border-radius: 5px;
    background-color:#26C281;
    color:black;
    border-color: #03A678;
    margin-left:10%;
}


.buy:disabled{
    border: none;
    background-color: #D2D7D3;
}

.buy[disabled]:hover{
    border: none;
    background-color: #D2D7D3;
}

.buy:hover{
    background-color:#2ECC71;
    border-color: #2ecc71;
}

.buy:focus{
    border-color: none;
    outline: none;
}

.title{
    text-align: center;
    color:#2ecc71;
}

.game-screen{
    color:#2ecc71;
    
}

.makers{
    margin-top: 150px;
    padding-bottom:500px;
}

.money{
    text-align: center;
}

.maker{
    width:20%;
    float:left;
    position: relative;
}

.second-row{
    margin-top: 30px;
}

.cows{
    margin-left: 13%;
}

.pocket-money{
    
    margin-left: 13%;
}

.pizzas{
    margin-left: 13%;    
}





