<!DOCTYPE html>
<html ng-app = "GetPaid">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    
    
    <title>{{title}}</title>
    <script src="js/main.js"></script>
</head>


<body>
    <h1>{{heading}}</h1>
    
    <div class="game-screen" ng-controller="GameController" ng-init="checkGameState()">
        <button ng-click="GetMoney()">Add one</button>
        
        
        <p>Your Cash: {{ $storage.money | number:2 }}</p>
        <p>Getting Paid: {{$storage.totalDosh| number:2}}/sec</p>
        
        <p>Cash Cows: {{$storage.cows}} ({{$storage.cowDosh | number:2}}/sec)</p>
        <p>Piggybanks: {{$storage.piggybanks}} ({{$storage.piggybankDosh | number:2}}/sec)</p>
        
        <button ng-click="BuyCow()" ng-model="button" ng-disabled="cowState">Cow: ${{$storage.cowCost | number:2}}</button>
        
        
        <button ng-click="BuyPiggybank()" ng-model="button" ng-disabled="piggybankState">Piggybank: ${{$storage.piggybankCost | number:2}}</button>
        
        <button ng-click="reset()" ng-model="button" >Reset?</button>
        
        
    </div>
    
    
    
</body>




</html>