<!DOCTYPE html>
<html ng-app = "GetPaid">

<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    
    
    <link rel="stylesheet" href="css/custom.css">
    
    <title>{{title}}</title>
    <script src="js/main.js"></script>
</head>


<body>
    <h1 class="title">{{heading}}</h1>
    
    <div class="game-screen" ng-controller="GameController" ng-init="checkGameState()">
        
        
        <div class="money">
            <p>Your Cash: ${{ $storage.displayMoney | number:2 }}{{$storage.format}}</p>
            <p>Getting Paid: {{$storage.totalDosh| number:2}}/sec</p>
            <button class="top-btn" ng-click="GetMoney()">Add ${{$storage.clickDosh | number:2}}</button>
            <button class="top-btn" ng-click="reset()" ng-model="button" >Reset?</button>
        </div>
        
        
        
        <!--
        <div class="makers">
           <div ng-repeat="maker in makers" class="maker">
               
               <p>{{maker.name}}: {{maker.number}} ({{maker.dosh | number:2}})/sec</p>
               <button class="buy" ng-click="{{maker.function}}" ng-model="button" ng-disabled="cowState">{{maker.buttonText}}: ${{maker.cost | number:2}}</button>
               
           </div>-->
            <div class="makers">
            
            <div class="cows maker">

                <p>Clicker Multiplier: {{$storage.clickDosh}}</p>
                <button class="buy" ng-click="BuyClicker()" ng-model="button" ng-disabled="clickerState">Clicker: ${{$storage.clickCost | number:2}}</button>
            </div>
            
            <div class="maker">

                <p>Cash Cows: {{$storage.cows}} ({{$storage.cowDosh | number:2}}/sec)</p>
                <button class="buy" ng-click="BuyCow()" ng-model="button" ng-disabled="cowState">Cow: ${{$storage.cowCost | number:2}}</button>
            </div>

            <div class="piggybanks maker">

                <p>Piggybanks: {{$storage.piggybanks}} ({{$storage.piggybankDosh | number:2}}/sec)</p>
                <button class="buy" ng-click="BuyPiggybank()" ng-model="button" ng-disabled="piggybankState">Piggybank: ${{$storage.piggybankCost | number:2}}</button>
            </div>
            
            <div class="wallets maker">

                <p>Wallets: {{$storage.wallets}} ({{$storage.walletDosh | number:2}}/sec)</p>
                <button class="buy" ng-click="BuyWallet()" ng-model="button" ng-disabled="walletState">Wallet: ${{$storage.walletCost | number:2}}</button>
            </div>
            
        </div>
        
        
        
        
        
        
        
    </div>
    

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64230002-1', 'auto');
  ga('send', 'pageview');

</script>
    
</body>




</html>